body {
  background-image: url('https://farm6.staticflickr.com/5771/22157773072_d77a35f00f_o.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top;
  min-height: 100vh;
  height: 854px;
}

#navbar {
  width: 92%;
}

.logo {
  height: 30px;
  width: 30px;
  margin-top: 10px;
  border-color: transparent;
}

.addNew {
  margin-left: 15px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Rosario', sans-serif;
  height: 100%;
  width: 100%;
}

header {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
}

#subtext {
  font-size: 30px;
  font-style: italic;
  color: rgb(92, 92, 92);
  text-shadow: none;
  margin-top: 0;
}

.title {
  font-size: 80px;
  font-weight: 700;
  margin: 20px 20px 0 20px;
  color: rgb(58, 58, 58);
  text-shadow: 1px 1px rgb(0, 127, 212);
}

.sideBySide {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0 0 0;
}

.taskBox {
  border: solid 1px rgba(0, 127, 212, 0.322);
  margin-top: 20px;
  border-radius: 5px;
  background: rgba(36, 36, 36, 0.308);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}

.typeHotkey {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: rgb(0, 127, 212);
  margin: 0;
  padding: 20px;
  color: white;
  line-height: 30px;
  width: 20%;
  height: 100%;
}

.task {
  line-height: 30px;
  padding: 0 10px;
  margin: 20px 0;
  font-weight: 600;
  color: white;
  text-shadow: .5px .5px rgb(63, 63, 63);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#baseButtonCorrect {
  margin: 20px;
  background: green;
  border-color: rgb(0, 77, 0);
  height: 45px;
}

#baseButtonCorrect #hiddenHotkey{
  display: none;
}

#baseButton {
  margin: 20px;
  background: rgb(0, 153, 255);
  border-color: rgba(0, 89, 148, 0.651);
  height: 45px;
}

#baseButton #hiddenHotkey{
  display: none;
}

#baseButton:hover {
  background-color: rgb(0, 73, 122);
}

#baseButton:hover #hiddenHotkey{
  display: inline;
}

#baseButton:hover #showHotkey {
  display: none;
}

.bottom {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  color: white;
  width: 100%;
  margin: 0;
}

.prevNext {
  align-self: center;
  background: transparent;
  border: transparent;
  font-size: 70px;
  color: rgb(0, 127, 212);
}

.prevNext:hover {
  color: rgb(0, 73, 122);
}

.imgDiv {
  margin: 0 0 15px 0;
  width: 60vw;
  padding: 0;
  border-radius: 5px;
  height: 400px;
}

img {
  border: 1px solid rgb(0, 61, 102);
  border-radius: 5px;
  max-width: 700px;
  width: 100%;
  height: 100%;
  margin: 0; 
}

#correctImg {
  box-shadow: 0 0 25px 10px green;
}

.buttonDiv {
  width: 100%;
  margin: -60px 0 0px 0;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 40px;
}

#button {
  background: rgb(0, 127, 212);
  border-color: rgb(0, 61, 102);
  width: 120px;
}

#button:hover {
  background-color: rgb(0, 73, 122);
}

footer {
  width: 100%;
  height: 60px;
}

.imageDiv {
  margin: 40px 10% 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.imageDivThird {
  width: 270px;
  height: 300px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.imageDivThird input {
  margin-bottom: 40px;
  width: 200px;
  border-radius: 3px;
  border: .5px solid rgb(100, 100, 100);
}

.imageDivThird p {
  align-self: flex-start;
  justify-self: flex-start;
  margin: 0 0 3px 10px;
  color: rgb(0, 127, 212);
  text-shadow: .5px .5px rgb(66, 66, 66);
  font-weight: 700;
  font-size: 18px;
}

input:hover {
  width: 200px;
  border-radius: 3px;
  background-color: rgb(241, 241, 241);
  border: .5px solid rgb(68, 68, 68);
}

#createNew {
  background: rgb(0, 127, 212);
  border-color: rgb(0, 61, 102);
  width: 180px;
}

#createHotkeyBox {
  margin-top: 50px;
  margin-bottom: 0px;
}