.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

header {
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: rgb(61, 61, 61);
}

.title {
  margin: 0 30px;
}

.pushHotkey {
  color: gray;
}

.imgDiv {
  margin: 30px;
}

img {
  width: 100%;
}

